body {
    background-color: #b32b2b;
    color: white;
    font-family: "Sofadi One", system-ui;
    display: flex;
   
}
button {
    background-color: #ce5e5e;
    color: white;
    font-family: "Sofadi One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
        text-align: center;
        max-width: 90%;
    }
    img {
        max-width: 60%;
    }